html, body {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.articleTeaser {
    border: groove;
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 1rem;
}